.footer-widgets:nth-child(1){
    .widget_media_image{
        img{
            width: 100% !important;
            max-width: 150px !important;
        }
    }
}

footer.footer{
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
}