.et_b_header-logo.et_element-top-level{
    @include respond-above(md){
        background-color: $black;
        position: absolute;
        top: -43px;
        z-index: 1;
        padding-bottom: 40px !important;
        border-radius: 0 0 70px 70px;
        width: 90%;
        max-width: 125px;
        text-align: center;
        padding-top: 20px !important;
    }
    @include respond-above(lg){
        top: -36px;
    }

    .logo-mobile{
        @include respond-above(md){
            display: none;
        }
    }
    
    .logo-desktop{
        display: none;
        @include respond-above(md){
            display: inline;
        }
    }
}

.et_b_header-search.et_element-top-level{
    select{
        max-width: none !important;
    }
}


.header-main-wrapper.sticky.sticky-on > .header-main{
    box-shadow: 2px 0px 12px 0px rgba(0,0,0,.15);
}


li.menu-item.menu-icon{
    a.item-link.type-img{
        display: block;
        padding-left: 1em;
        img{
            height: 1.7em;
            width: auto;
            position: absolute;
            left: -1em;
            top: 0.6em;
        }
    }
}

.et-mini-content{
    li.menu-item{
        &.menu-icon{
            a.item-link.type-img{
                padding-left: 2em !important;
                img{
                    left: 0 !important;
                }
            }
        }

        &.menu-item-has-children{
            >.nav-sublist-dropdown .container > ul{
                display: block !important;
            }
        }
        
    }
    
}

.secondary-menu-wrapper{
    .menu{
        li.menu-item{
            .nav-sublist-dropdown{
                transform: translateY(-15%) !important;
            }
        }
    }
}