ul#shipping_method{
    input.shipping_method{
        margin-top: -1rem;
    }
}

.woocommerce-checkout{
    .woocommerce-shipping-fields .step-title{
        display: block !important;
    }
    
    #ship-to-different-address{
        display: none;
    }
    .shipping_address{
        display: block !important;
    }
}
