.vc_tta-panel{
    &.vc_active .vc_tta-panel-heading, .vc_tta-panel-heading:focus, .vc_tta-panel-heading:hover{
        background-color: $main-color !important;
        a{
            color: #ffffff !important;
        }
        .vc_tta-controls-icon::after, .vc_tta-controls-icon::before{
            border-color: #ffffff !important;
        }
    }
}
.wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body{
    padding: 15px 20px !important;
}