$black: #101820;
$white: #ffffff;
$lima: #62be1b;
$forest-green: #21882c;
$caper: #ceedb2;
$light-gray: #e2e2e2;

$main-color: $lima;
$secondary-color: $caper;

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);