/*!
 Theme Name:   XStore Child
 Theme URI:    http://8theme.com/
 Description:  XStore Child Theme
 Author:       8theme
 Author URI:   http://8theme.com
 Template:     xstore
 Version:      0.0.13
 Text Domain:  xstore-child
*/

/**abstracts**/
@import
  'abstracts/variables',
  'abstracts/mixins';

// /**components**/
@import
  'components/header',
  'components/footer';

// /**pages**/
@import
  'pages/checkout',
  'pages/faq';

*, a, select, .menu-element .menu li, a.add_to_wishlist, .content-product .show-quickly, .content-product .by-vendor-name-link{
  cursor: url('img/papelerias-fenix-icon.png'), default;
}

// PAdding fix para barra inferior en móvil
body{
  @include respond-below(md){
    padding-bottom: 5px;
  }
}

.dokan-form-control:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus, textarea.form-control:focus, select:focus {
  box-shadow: none;
  outline: none;
  border-color: $main-color !important;
}

.form-group select{
  width: 100%;
}

.g-recaptcha, .anr_captcha_field {
  display: inline-block;
}

.woocommerce-checkout-payment{
  ul.wc_payment_methods{
    li.wc_payment_method{
      padding: 5px 0;
      // border-top: 1px solid $main-color;
      border-bottom: 1px solid $main-color;
      margin: 13px 0;
      input.input-radio{
        vertical-align: top;
        margin-top: 8px;
      }
    }
  }
}

.sticky-message-on .content-page {
  .woocommerce-notices-wrapper, .woocommerce-NoticeGroup, .woocommerce-message, .woocommerce-error, .woocommerce-info {
    z-index: 5;
  }
}


.et-off-canvas.et_b_header-account input#rememberme + span{
  max-width: 150px !important;
}

// Theme imports
/* global padding bottom */
.content-page, .page-content {
  padding-bottom: 30px;
}

/* shop grid */
.products-loop .content-product .product-details,
.swiper-container .content-product .product-details{
  text-align: start;
}
.products-loop .content-product .star-rating,
.swiper-container .content-product .star-rating {
  margin-left: 0;
}
.carousel-area.products-slider {
  padding: 13px 12px 0;
}
.content-product .products-page-cats a {
  font-size: 11px;
  text-transform: uppercase;
}
/* blog and single post pages */
.grid-post-body, .single-post .post-heading {
  text-align: center;
}

/* sidebar widget title */
.sidebar-widget .widget-title span, 
.upsell-products .widget-title span {
  font-size: 18px;
}

/* related products border */
.related-products-title {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
}
.related-products-title span {
  border-bottom: 2px solid #4caf50;
  padding-bottom: 13px;
}

.woocommerce-pagination ul li span,
.etheme-pagination span,
.after-shop-loop a,
.etheme-pagination a {
  border-radius: 4px;
}

/* footer */
.footer .et-mailchimp input[type="submit"],
.footer .et-mailchimp input[type="email"] {
  border-radius: 4px !important;
  border-color: transparent !important;
}
.footer .mc4wp-form .et-mailchimp {
  background-color: #fff;
  border-radius: 4px !important;
}
input.dokan-form-control, input[type="text"], input[type="number"], input[type="email"], input[type="search"], input[type="password"], input[type="tel"], input[type="url"],
.with-border-radius {
  border-radius: 4px;
}

/* container */
.container, .et-container{
  padding-left: 30px;
  padding-right: 30px;
} 

.products-loop .product:hover,
.carousel-area .product-slide:hover{
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,.1);
  z-index: 2;
  transform: translateY(-5px) scale(1.007);
  border-radius:5px;
}
.products-loop .type-product {
  padding-top: 15px;
}
.products-loop .content-product {
  margin-bottom: 15px;
}
.products-loop .product, .swiper-container .product-slide{
  transition: all .2s ease-in-out;
}

.page-heading{
  padding: 0 !important;
  @include respond-above(md){
    padding-top: 2em !important;
  }
}